
@*<div class="navbar-nav">
    <h2 id="textfooter"></h2>
    <form class="formfooter">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="callbackName" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="callbackPhone" placeholder="Phone">
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="callbackEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" id="callbackSend" value="Send">Send</button>
            </div>
        </div>


    </form>
</div>*@

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="~/css/style.css">
    <style type="text/css">
       
        input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

        /* CLIENT-SPECIFIC STYLES */
        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        /* RESET STYLES */
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
        }

        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* MOBILE STYLES */
       
            h1 {
                font-size: 32px !important;
                line-height: 32px !important;
            }
        z

        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] {
            margin: 0 !important;
        }
    </style>
</head>

<body style="background-color: #dcdcdc; margin: 0 !important; padding: 0 !important;">
    <!-- HIDDEN PREHEADER TEXT -->
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;"> We're thrilled to have you here! Get ready to dive into your new account. </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <!-- LOGO -->
        <tr>
            <td bgcolor="#000000" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#000000" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                            <h1 style="font-size: 48px; font-weight: 400; margin: 2;">@ViewData["Title"]</h1> <img src=" https://img.icons8.com/clouds/100/000000/handshake.png" width="125" height="120" style="display: block; border: 0px;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#dcdcdc" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="left" style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">You need to fill out a form and we will contact in 30 minutes. Be sure the dta is correct or we won`be avilble to call you </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="left">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" style="border-radius: 3px;" bgcolor="#ffffff">
                                                    <form>
                                                         <div id="Errors" class="text-danger"></div>
                                                          
                                                    <div class="form-group">
                                                    <input type="text" id="callbackName" placeholder="Name" bgcolor="#dcdcdc"  color: #000000>
                                                    

                                                    <input type="email" bgcolor="#dcdcdc"  id="callbackEmail" placeholder="E-mail" color: #000000>
                                                    

                                                    <input type="text" id="callbackPhone" placeholder="Phone" bgcolor="#dcdcdc"  color: #000000>
                                                    

	            	                                <button style="margin-top: 15px;"  id="callbackSend"  class="form-control btn btn-primary submit px-3">Get Help</button>
		      		                                <div style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; " align="center" id="timer">(After sending, page will be updated)</div>
                                               </div>
                                               </form>

                                               

                                               </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr> <!-- COPY -->
                    
                    <tr>
                        <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">If you have any questions, we're always happy to help out.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="left" style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <p style="margin: 0;">Cheers,<br>Triangle Team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#dcdcdc" align="center" style="padding: 30px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#FFECD1" align="center" style="padding: 30px 30px 30px 30px; border-radius: 4px 4px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                            <h2 style="font-size: 20px; font-weight: 400; color: #111111; margin: 0;">Need more help?</h2>
                            <p style="margin: 0;"><a href="/Home/Help" target="_blank" style="color: #FFA73B;">We&rsquo;re here to help you out</a></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
       
    </table>
</body>

</html>

<script>
    let apiCallback = "/api/StoreCallback";
    let h1 = document.getElementById("Errors");
    let reSpecCase = new RegExp("[!#\\$%\\^&\\*\\(\\)\\[\\]]");
    let re = new RegExp("[0-9]");
    let reUpperCase = new RegExp("[A-Z]");
    let reLowerCase = new RegExp("[a-z]");
    document.getElementById("callbackSend").onclick = function () {
        if (document.getElementById("callbackName").value.length < 3) {
            h1.innerText = "Name must be 3 and more letters";
            return;
        }
        if (re.exec(document.getElementById("callbackName").value) !== null) {
            h1.innerText = "Name must be without numbers";
            return;
        }
        if (reSpecCase.exec(document.getElementById("callbackName").value) !== null) {
            h1.innerText = "Name must be without special symbols";
            return;
        }
        if (document.getElementById("callbackPhone").value.length < 9) {
            h1.innerText = "Phone must be 9 or more numbers";
            return;
        }
        if (reUpperCase.exec(document.getElementById("callbackPhone").value) !== null) {
            h1.innerText = "Phone must be without letters";
            return;
        } 
        if (reLowerCase.exec(document.getElementById("callbackPhone").value) !== null) {
            h1.innerText = "Phone must be without letters";
            return;
        }
        let CallBack =
        {
            Name: document.getElementById("callbackName").value,
            Phone: document.getElementById("callbackPhone").value,
            Email: document.getElementById("callbackEmail").value
        }
        console.log(CallBack);
        function onError(err) {
            console.log("Err");
            console.log(err);
        }
        fetch(apiCallback, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(CallBack)
        })
            .then(res => {
                console.log(res);
                return res.json();
                h1.innerText = "Our operators will call you in next 30 minutes";
                document.getElementById("callbackSend").disbled = true;
            })
            .then(cb => {
                console.log(cb);
            })
            .catch(err => { onError(err); })
    }
</script>